<nav class="navbar">
    <div class="logo">Natalie Pong</div>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="todo.html">To-Do List</a></li>
        <li><a href="pomodoro.html">Pomodoro</a></li>
        <li><a href="whiteboard.html">Whiteboard</a></li>
        <li><a href="brainrot.html">Video</a></li>
        <li><a href="tetris.html">Tetris</a></li>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>